<template>
  <div>
    <!-- 年度开工率 -->
    <Echart
      :options="options"
      id="equipChartChart"
      height="240px"
      width="800px"
    ></Echart>
  </div>
</template>

<script>
import Echart from "@/common/echart";
export default {
  data() {
    return {
      options: {},
    };
  },
  components: {
    Echart,
  },
  props: {
    cdata: {
      type: Object,
      default: () => ({}),
    },
  },
  watch: {
    cdata: {
      handler(newData) {
        this.options = {
          tooltip: {
            trigger: "axis",
            backgroundColor: "rgba(255,255,255,0.1)",
          },
          grid: {
            x: "2%",
            bottom: "24%",
            height: "70%",
            left: "8%",
          },
          xAxis: {
            data: newData.category,
            axisLabel: {
              interval: 0,
              formatter: function (params) {
                if(params.length > 4) {
                  return params.slice(0, 4) + '\n' + params.slice(4, params.length);
                } else if (params.length == 4) {
                  return params.slice(0, 2) + '\n' + params.slice(2, params.length)
                } else {
                  return params
                }
              },
            },
            axisLine: {
              lineStyle: {
                color: "#B4B4B4",
              },
            },
            axisTick: {
              show: false,
            },
          },
          yAxis: [
            {
              splitLine: { show: false },
              axisLine: {
                lineStyle: {
                  color: "#B4B4B4",
                },
              },
              axisLabel: {
                formatter: "{value} ",
              },
              splitNumber: 4,
            },
          ],
          series: [
            {
              name: "数量",
              type: "bar",
              barWidth: 10,
              itemStyle: {
                normal: {
                  barBorderRadius: 5,
                  color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    { offset: 0, color: "#956FD4" },
                    { offset: 1, color: "#3EACE5" },
                  ]),
                },
              },
              data: newData.barData,
            },
          ],
        };
      },
      immediate: true,
      deep: true,
    },
  },
};
</script>