<template>
  <div>
    <Chart :cdata="cdata" />
  </div>
</template>

<script>
import Chart from './chart.vue'
export default {
  data () {
    return {
      cdata: {
        category: [
          "应急发电照明车",
          "水上救援机器人",
          "生命探测仪",
          "冲锋舟",
          "操舟机",
          "抛投器",
          "打桩机",
          "装袋机",
          "堤坝管涌渗漏检测仪",
          "铲土履带运输车",
          "防汛液压抛石机",
          "防汛围井"
        ],
        barData: [
          5,
          12,
          5,
          12,
          12,
          12,
          12,
          12,
          12,
          5,
          5,
          12
        ]
      }
    };
  },
  components: {
    Chart,
  },
  mounted () {

  },
  methods: {}
};
</script>

<style lang="scss" scoped>
</style>