
#index {
  color: #d3d6dd;
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  overflow: hidden;

  .bg {
    width: 100%;
    height: 100%;
    padding: 16px 16px 0 16px;
    background-image: url("../assets/pageBg.png");
    background-size: cover;
    background-position: center center;
  }

  .host-body {
    .title-wrap {
      height: 60px;
      background-image: url("../assets/img/top.png");
      background-size: cover;
      background-position: center center;
      position: relative;
      margin-bottom: 6px;

      .guang {
        position: absolute;
        bottom: -26px;
        background-image: url("../assets/img/guang.png");
        background-position: 80px center;
        width: 100%;
        height: 56px;
      }

      .zuojuxing,
      .youjuxing {
        position: absolute;
        top: -2px;
        width: 140px;
        height: 6px;
        background-image: url("../assets/img/juxing1.png");
      }

      .zuojuxing {
        left: 11%;
      }

      .youjuxing {
        right: 11%;
        transform: rotate(180deg);
      }

      .timers {
        position: absolute;
        right: 0;
        top: 22px;
        font-size: 18px;
        img {
          width: 24px;
          height: 24px;
          margin-right: 6px;
          position: relative;
          top: 4px;
        }
      }
    }

    .title {
      position: relative;
      // width: 500px;
      text-align: center;
      background-size: cover;
      color: transparent;
      height: 60px;
      line-height: 46px;

      .title-text {
        font-size: 38px;
        font-weight: 900;
        letter-spacing: 6px;
        width: 100%;
        background: linear-gradient(92deg, #0072FF 0%, #00EAFF 48.8525390625%, #01AAFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      img {
        width: 108px;
        height: 108px;
      }

      .dv-dec-6 {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 250px;
        height: 8px;
        transform: translate(-50%);
      }
    }

    // 第二行
    .aside-width {
      width: 40%;
    }

    .react-r-s,
    .react-l-s {
      background-color: #0f1325;
    }

    // 平行四边形
    .react-right {
      &.react-l-s {
        text-align: center;
        width: 500px;
      }

      font-size: 18px;
      width: 300px;
      line-height: 50px;
      text-align: center;
      transform: skewX(-45deg);

      .react-after {
        position: absolute;
        right: -25px;
        top: 0;
        height: 50px;
        width: 50px;
        background-color: #0f1325;
        transform: skewX(45deg);
      }

      .text {
        display: inline-block;
        transform: skewX(45deg);
        color: #ffd700;
      }
    }

    .react-left {
      &.react-l-s {
        width: 500px;
        text-align: center;
      }

      font-size: 18px;
      width: 300px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      transform: skewX(45deg);
      background-color: #0f1325;

      .react-left {
        position: absolute;
        left: -25px;
        top: 0;
        height: 50px;
        width: 50px;
        background-color: #0f1325;
        transform: skewX(-45deg);
      }

      .text {
        display: inline-block;
        transform: skewX(-45deg);
        color: #ffd700;
      }
    }

    .contents {
      width: 100%;
      display: flex;
      min-height: calc(100% - 60px);
      justify-content: space-between;

      .contetn_left,
      .contetn_right {
        width: 540px;
        box-sizing: border-box;
        // padding: 16px 0;
      }

      .contetn_center {
        width: 800px;
      }

      //左右两侧 三个块
      .contetn_lr-item {
        height: 310px;
      }

      .contetn_center_top {
        width: 100%;
      }

      // 中间
      .contetn_center {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .contetn_center-bottom {
        height: 315px;
      }

      //左边 右边 结构一样
      .contetn_left,
      .contetn_right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
      }
    }
  }
}

.contents {
  width: 100%;
  display: flex;
  min-height: calc(100% - 60px);
  justify-content: space-between;
}