<template>
  <div>
    <Chart :cdata="cdata" />
  </div>
</template>

<script>
import Chart from './chart.vue';
export default {
  data () {
    return {
      cdata: [
        {
          // 名字需要与 "public/map/yanbian.js" 地图数据文件里面定义的一一对应
          value: 10,
          elseData:{
            // 这里放置地图 tooltip 里想显示的数据
          }
        },
        {
          name: '图们市',
          value: 0.4,
          value1: '三级',
          value2: '40%',
        },
        {
          name: '敦化市',
          value: 0.6,
          value1: '四级',
          value2: '20%',
        },
        {
          name: '珲春市',
          value: 0.7,
          value1: '五级',
          value2: '10%',
        },
        {
          name: '龙井市',
          value: 0.3,
          value1: '二级',
          value2: '50%',
        },
        {
          name: '和龙市',
          value: 0.5,
          value1: '四级',
          value2: '30%',
        },
        {
          name: '汪清县',
          value: 0.2,
          value1: '二级',
          value2: '60%',
        },
        {
          name: '安图县',
          value: 0.8,
          value1: '五级',
          value2: '10%',
        },
        {
          name: '延吉市',
          value: 0.4,
          value1: '三级',
          value2: '40%',
        },
      ]
    }
  },
  components: {
    Chart,
  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
</style>