<template>
  <div>
    <Chart :cdata="cdata" />
  </div>
</template>

<script>
import Chart from './chart.vue';
export default {
  data () {
    return {
      cdata: {
        xData: ["消防车","救护车","半挂牵引汽车", "大中型客车","越野车", "小型客车","轿车", "其他车辆", "其他专用车辆",],
        seriesData: [
          { value: 74, name: "消防车" },
          { value: 2, name: "救护车" },
          { value: 10, name: "半挂牵引汽车" },
          { value: 2, name: "大中型客车" },
          { value: 16, name: "越野车" },
          { value: 39, name: "小型客车" },
          { value: 2, name: "轿车" },
          { value: 4, name: "其他车辆" },
          { value: 8, name: "其他专用车辆" },
        ]
      }
    }
  },
  components: {
    Chart,
  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
</style>