<template>
  <div class="announcement">
    <div class="btns">
      <span class="btn" @click="current = 0" :class="current == 0 ? 'on' : ''"
        >公告</span
      >
      <span class="btn" @click="current = 1" :class="current == 1 ? 'on' : ''"
        >新闻</span
      >
    </div>
    <div class="left_boottom_wrap" v-if="current == 0">
      <vueSeamlessScroll :data="annoList" :class-option="defaultOption">
        <ul class="left_boottom">
          <li class="left_boottom_item" v-for="(item, i) in annoList" :key="i">
            <div class="orderNum">{{ i + 1 }}</div>
            <div class="inner_right">
              <div class="flex">
                <div class="info">
                  <el-tooltip class="item" effect="dark" :content="item.name" placement="top-start">
                  <a
                    class="contents wangguan"
                    :href="filePath(item.name)"
                    target="_blank"
                  >
                    {{ item.name }}</a
                  >
                     </el-tooltip>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </vueSeamlessScroll>
    </div>
    <div class="left_boottom_wrap" v-else>
      <vueSeamlessScroll :data="newsList" :class-option="defaultOption">
        <ul class="left_boottom">
          <li class="left_boottom_item" v-for="(item, i) in newsList" :key="i">
            <div class="orderNum">{{ i + 1 }}</div>
            <div class="inner_right">
              <div class="flex">
                <div class="info">
                  <el-tooltip class="item" effect="dark" :content="item.name" placement="top-start">
                  <a
                    class="contents wangguan"
                    :href="filePath(item.name)"
                    target="_blank"
                  >
                    {{ item.name }}</a
                  >
                  </el-tooltip>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </vueSeamlessScroll>
    </div>
  </div>
</template>

<script>
import vueSeamlessScroll from "vue-seamless-scroll";
export default {
  components: { vueSeamlessScroll },
  data() {
    return {
      current: 0,
      annoList: [
        {
          name: "年度训练工作指示（总队2023.01）",
        },
        {
          name: "2023年第一季度首长机关训练计划表",
        },
        {
          name: "冬训、新训和春防检查考核方案",
        },
        {
          name: "检查考核评分细则表 ",
        },
        {
          name: "3.31呈审支队一季度议中心议训材料",
        },
      ],
      newsList: [
        {
          name: "延边州森林消防支队圆满完成总队冬季大练兵考核验收工作",
        },
        {
          name: "2021年第四季度支队党委会议中心议训材料",
        },
        {
          name: "下发四季度党委议训议中心",
        },
        {
          name: "延边支队2023年第一季度议训",
        },
        {
          name: "支队2020年第一季度议中心议训会议纪要",
        },
      ],
      defaultOption: {
        step: 0, // 数值越大速度滚动越快
        hoverStop: true, // 是否开启鼠标悬停stop
        openWatch: true, // 开启数据实时监控刷新dom
        direction: 1, // 0向下 1向上 2向左 3向右
        limitMoveNum: 5, // 开始无缝滚动的数据量 this.dataList.length
        singleHeight: 180, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
        singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
        waitTime: 1000, // 单步运动停止的时间(默认值1000ms)
      },
    };
  },
  created() {},

  mounted() {
    // this.scroll();
  },
  methods: {
    scroll() {
      let timer = setTimeout(() => {
        clearTimeout(timer);
        this.defaultOption.step = 0.4;
      }, this.defaultOption.waitTime);
    },
    filePath(name) {
      return `${window.location.origin}/${name}.pdf`;
    },
  },
};
</script>
<style lang='scss' scoped>
.announcement {
  .btns {
    display: flex;
    justify-content: flex-end;
    .btn {
      display: inline-block;
      width: 50px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    .on {
      background: #1890ff;
    }
  }
}
.left_boottom_wrap {
  overflow: hidden;
  width: 100%;
  height: 230px;
}

.left_boottom {
  width: 100%;
  height: 100%;

  .left_boottom_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 14px;
    margin: 6px 0;
    .orderNum {
      margin: 0 20px 0 -20px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: #1890ff;
      text-align: center;
    }

    .info {
      margin-right: 10px;
      display: flex;
      align-items: center;
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .inner_right {
      position: relative;
      height: 100%;
      width: 400px;
      flex-shrink: 0;
      line-height: 1.5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .wangguan {
      color: #d3d6dd;
      font-weight: 900;
      font-size: 15px;
      width: 400px;
      flex-shrink: 0;
    }
  }
}
</style>