<template>
  <div class="carde">
    <div class="btns">
      <span class="btn" @click="current = 0" :class="current == 0 ? 'on' : ''"
        >本月</span
      >
      <span class="btn" @click="current = 1" :class="current == 1 ? 'on' : ''"
        >上月</span
      >
    </div>
    <ul class="user_Overview flex" v-if="current == 0">
      <li class="user_Overview-item">
        <div class="user_Overview_nums">
          <img src="../assets/img/lihonggang.jpg" />
        </div>
        <p>李洪刚</p>
      </li>
      <li class="user_Overview-item">
        <div class="user_Overview_nums">
          <img src="../assets/img/lizhipeng.jpg" />
        </div>
        <p>李志鹏</p>
      </li>
      <li class="user_Overview-item">
        <div class="user_Overview_nums">
          <img src="../assets/img/limingxuan.jpg" />
        </div>
        <p>李明轩</p>
      </li>
    </ul>
    <ul class="user_Overview flex" v-else>
      <li class="user_Overview-item">
        <div class="user_Overview_nums">
          <img src="../assets/img/biwei.jpg" />
        </div>
        <p>毕伟</p>
      </li>
      <li class="user_Overview-item">
        <div class="user_Overview_nums">
          <img src="../assets/img/banlan.png" />
        </div>
        <p>班斓</p>
      </li>
      <li class="user_Overview-item">
        <div class="user_Overview_nums">
          <img src="../assets/img/wangjia.jpg" />
        </div>
        <p>王嘉</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      current: 0,
    };
  },
  created() {},
  mounted() {},
  methods: {},
};
</script>
<style lang='scss' scoped>
.carde {
  .btns {
    display: flex;
    justify-content: flex-end;
    .btn {
      display: inline-block;
      width: 50px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    .on {
      background: #1890ff;
    }
  }
}
.user_Overview {
  display: flex;
  li {
    flex: 1;

    p {
      text-align: center;
      height: 16px;
      font-size: 15px;
      font-weight: 900;
    }

    .user_Overview_nums {
      width: 100px;
      height: 120px;
      text-align: center;
      line-height: 100px;
      font-size: 22px;
      margin: 30px auto;
      background-size: cover;
      background-position: center center;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
</style>