<template>
  <div class="carde">
    <div class="right-btns">
      <span
        class="btn"
        @click="rightCurrent = 0"
        :class="rightCurrent == 0 ? 'on' : ''"
        >车辆</span
      >
      <span
        class="btn"
        @click="rightCurrent = 1"
        :class="rightCurrent == 1 ? 'on' : ''"
        >装备</span
      >
    </div>
    <div class="user_Overview flex" v-if="rightCurrent == 0">
      <div class="left-btns">
        <span
          class="btn"
          @click="carLeftCurrent = 0"
          :class="carLeftCurrent == 0 ? 'on' : ''"
          >数据图</span
        >
        <span
          class="btn"
          @click="carLeftCurrent = 1"
          :class="carLeftCurrent == 1 ? 'on' : ''"
          >数据表</span
        >
      </div>
      <carChart v-if="carLeftCurrent == 0" />
      <dv-scroll-board class="dv-scr-board" :config="config" v-else />
    </div>
    <div class="user_Overview flex" v-else>
      <div class="left-btns">
        <span
          class="btn"
          @click="equipLeftCurrent = 0"
          :class="equipLeftCurrent == 0 ? 'on' : ''"
          >数据图</span
        >
        <span
          class="btn"
          @click="equipLeftCurrent = 1"
          :class="equipLeftCurrent == 1 ? 'on' : ''"
          >轮播图</span
        >
      </div>
      <equipChart v-if="equipLeftCurrent == 0" />
      <swiper :options="swiperOption" ref="mySwiper" id="mySwiper">
        <swiper-slide class="swiper_slide_item" v-for="(item,index) in equipImgs" :key="index" :style="{backgroundImage: 'url(' + item.img + ')'}">
          <div class="name">{{item.name}}</div>
        </swiper-slide>
        <!--前进后退按钮-->
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </div>
  </div>
</template>

<script>
import carChart from "./carChart";
import equipChart from "./equipChart";
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.css";
export default {
  data() {
    return {
      rightCurrent: 0,
      carLeftCurrent: 0,
      equipLeftCurrent: 0,
      config: {
        header: ["资产名称", "资产编号", "资产分类", "使用部门", "规格型号"],
        data: [
          [
            "<span title='履带式特种车拖挂板车'>履带式特种车拖挂板车</span>",
            "<span title='CL2020000049'>CL2020000049</span>",
            "<span title='半挂牵引汽车'>半挂牵引汽车</span>",
            "<span title='五中队'>五中队</span>",
            "<span title='行驶证02006385'>行驶证02006385</span>",
          ],
          [
            "<span title='越野性运兵车'>越野性运兵车</span>",
            "<span title='CL2019000005'>CL2019000005</span>",
            "<span title='大中型客车'>大中型客车</span>",
            "<span title='二中队'>二中队</span>",
            "<span title='ZK5080XYB5行驶证号02006391'>ZK5080XYB5行驶证号02006391</span>",
          ],
          [
            "<span title='勤务中队轿车大众车'>勤务中队轿车大众车</span>",
            "<span title='CL2009000005'>CL2009000005</span>",
            "<span title='轿车'>轿车</span>",
            "<span title='勤务中队'>勤务中队</span>",
            "<span title='大众桑塔纳3000发证机关：吉林省延边朝鲜族自治州公安局交通警察支队车管所'>大众桑塔纳3000发证机关：吉林省延边朝鲜族自治州公安局交通警察支队车管所</span>",
          ],
          [
            "<span title='救护车'>救护车</span>",
            "<span title='CL2019000007'>CL2019000007</span>",
            "<span title='救护车'>救护车</span>",
            "<span title='卫生所'>卫生所</span>",
            "<span title='福特新全顺V362ZZT5032XJH-5行驶证02000918'>福特新全顺V362ZZT5032XJH-5行驶证02000918</span>",
          ],
          [
            "<span title='山猫轻型全地形车'>山猫轻型全地形车</span>",
            "<span title='CL2019000001'>CL2019000001</span>",
            "<span title='其他车辆'>其他车辆</span>",
            "<span title='一中队'>一中队</span>",
            "<span title='重庆嘉陵全域机动车辆有限公司'>重庆嘉陵全域机动车辆有限公司</span>",
          ],
          [
            "<span title='森林消防轻型运输车皮卡车'>森林消防轻型运输车皮卡车</span>",
            "<span title='CL2020000002'>CL2020000002</span>",
            "<span title='其他专用汽车'>其他专用汽车</span>",
            "<span title='四中队'>四中队</span>",
            "<span title='JX1033PSEB5行驶证02006397'>JX1033PSEB5行驶证02006397</span>",
          ],
          [
            "<span title='九中队山猫全地形车'>九中队山猫全地形车</span>",
            "<span title=''> </span>",
            "<span title='消防车'>消防车</span>",
            "<span title='九中队'>九中队</span>",
            "<span title='CDX01'>CDX01</span>",
          ],
          [
            "<span title='五中队山猫全地形车'>五中队山猫全地形车</span>",
            "<span title=''> </span>",
            "<span title='消防车'>消防车</span>",
            "<span title='五中队'>五中队</span>",
            "<span title='CDX01'>CDX01</span>",
          ],
          [
            "<span title='四中队履带式水炮车'>四中队履带式水炮车</span>",
            "<span title=''> </span>",
            "<span title='消防车'>消防车</span>",
            "<span title='四中队'>四中队</span>",
            "<span title='BTK22X190'>BTK22X190</span>",
          ],
          [
            "<span title='勤务中队炊事车'>勤务中队炊事车</span>",
            "<span title='CL2018000035'>CL2018000035</span>",
            "<span title='消防车'>消防车</span>",
            "<span title='勤务中队'>勤务中队</span>",
            "<span title='东风牌EQ2102J'>东风牌EQ2102J</span>",
          ],
          [
            "<span title='怡安轻型全地形车'>怡安轻型全地形车</span>",
            "<span title='CL2018000053'>CL2018000053</span>",
            "<span title='消防车'>消防车</span>",
            "<span title='一中队'>一中队</span>",
            "<span title='江铃牌JX1033PSEA5行驶证02005238'>江铃牌JX1033PSEA5行驶证02005238</span>",
          ],
          [
            "<span title='三中队解放运输车'>三中队解放运输车</span>",
            "<span title='CL2013000059'>CL2013000059</span>",
            "<span title='消防车'>消防车</span>",
            "<span title='三中队'>三中队</span>",
            "<span title='东风EQ1118GA行驶证02001336'>东风EQ1118GA行驶证02001336</span>",
          ],
        ],
        rowNum: 7, //表格行数
        headerHeight: 35,
        headerBGC: "#0f1325", //表头
        oddRowBGC: "#0f1325", //奇数行
        evenRowBGC: "#171c33", //偶数行
        index: true,
        columnWidth: [50, 200, 150],
        align: ["center"],
      },
      equipImgs: [
        {
          name: "餐车",
          img: require("@/assets/img/cc.jpg"),
        },
        {
          name: "集装车",
          img: require("@/assets/img/jzc.jpg"),
        },
        {
          name: "救援车",
          img: require("@/assets/img/jyc.jpg"),
        },
        {
          name: "运兵车",
          img: require("@/assets/img/ybc.jpg"),
        },
        {
          name: "指挥车",
          img: require("@/assets/img/zhc.jpg"),
        },
        {
          name: "便携式防汛打桩机",
          img: require("@/assets/img/fxdzj.png"),
        },
        {
          name: "防汛围井",
          img: require("@/assets/img/fxwj.png"),
        },
        {
          name: "防汛气动打桩机",
          img: require("@/assets/img/qddzj.png"),
        },
        {
          name: "吸水膨胀袋",
          img: require("@/assets/img/xspzd.png"),
        },
      ],
      swiperOption: {
        //前进后退按钮
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        //幻灯片播放配置项
        loop: true, //是否循环播放
        speed: 1000, // 发生页面切换动画时，动画的切换速度
        autoWidth: true,
        autoplay: {
          delay: 2000, // 幻灯片停留时间
          disableOnInteraction: false, // 用户操作swiper之后，是否禁止autoplay
        },
      },
    };
  },
  created() {},
  mounted() {},
  methods: {},
  components: {
    carChart,
    equipChart,
    Swiper,
    SwiperSlide,
  },
};
</script>
<style lang='scss' scoped>
.carde {
  .right-btns {
    display: flex;
    justify-content: flex-end;
    .btn {
      display: inline-block;
      width: 50px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    .on {
      background: #1890ff;
    }
  }
  .left-btns {
    position: absolute;
    left: 16px;
    top: 40px;
    .btn {
      display: inline-block;
      width: 60px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    .on {
      background: #1890ff;
    }
  }
}
.user_Overview {
  display: flex;
  margin: 6px 0;
  padding: 8px 0;
  .dv-scr-board {
    width: 100%;
    height: 210px;
    margin: 0 auto;
  }
}
#mySwiper {
  width: 100%;
}
.swiper-slide.swiper_slide_item {
  height: 210px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  .name {
    text-align: center;
    position:relative;
    top: 180px;
    left: 260px;
    color: #fff;
    font-size: 20px;
  }
}
</style>