<template>
  <div id="index" ref="appRef">
    <div class="bg">
      <dv-loading v-if="loading">Loading...</dv-loading>
      <div v-else class="host-body">
        <div class="d-flex jc-center title-wrap">
          <div class="zuojuxing"></div>
          <div class="youjuxing"></div>
          <div class="guang"></div>
          <div class="d-flex jc-center">
            <div class="title">
              <span class="title-text">延边支队大数据中心</span>
            </div>
          </div>
          <div class="timers">
            <img src="../assets/img/sunny.png" alt="">
            {{ dateYear }} {{ dateWeek }} {{ dateDay }}
            <!-- <i class="el-icon-setting" style="margin-left: 10px" @click="showSetting"></i> -->
          </div>
        </div>

        <!-- 第二行 -->
        <div class="d-flex jc-between px-2">
          <div class="d-flex aside-width">
            <div class="react-left ml-3 react-l-s">
              <span class="react-left"></span>
              <span class="text fw-b">对党忠诚</span>
            </div>
            <div class="react-left ml-3 react-l-s">
              <span class="text fw-b">纪律严明</span>
            </div>
          </div>
          <div class="d-flex aside-width">
            <div class="react-right mr-3 react-l-s">
              <span class="text fw-b">赴汤蹈火</span>
            </div>
            <div class="react-right mr-3 react-l-s">
              <span class="react-after"></span>
              <span class="text fw-b">竭诚为民</span>
            </div>
          </div>
        </div>

        <div class="contents">
          <div class="contetn_left">
            <ItemWrap class="contetn_left-top contetn_lr-item" title="通知公告/新闻">
              <announcement />
            </ItemWrap>
            <!--             <div>
              <center />
            </div> -->
            <ItemWrap class="contetn_lr-item" title="人员实力情况">
              <staff />
            </ItemWrap>
            <ItemWrap class="contetn_lr-item" title="值班情况">
              <onDuty />
            </ItemWrap>
          </div>
          <div class="contetn_center">
            <centerLeft2 />
            <ItemWrap class="contetn_center-bottom" title="车辆装备">
              <carEquip />
            </ItemWrap>
          </div>
          <div class="contetn_right">
            <ItemWrap class="contetn_lr-item" title="红星干部">
              <cadre />
            </ItemWrap>
            <ItemWrap
              class="contetn_lr-item"
              title="战备方案/作训成绩"
            >
              <score />
            </ItemWrap>
            <ItemWrap
              class="contetn_lr-item"
              title="训练计划/汇报"
            >
            <trainingPlan />
            </ItemWrap>
          </div>
          <!--           <div class="bottom-box">
            <dv-border-box-13>
              <bottomLeft />
            </dv-border-box-13>
            <dv-border-box-12>
              <bottomRight />
            </dv-border-box-12>
          </div> -->
        </div>
      </div>
    </div>
    <Setting ref="setting" />
  </div>
</template>

<script>
import drawMixin from "../utils/drawMixin";
import { formatTime } from "../utils/index.js";
// import centerLeft1 from './centerLeft1'
import centerLeft2 from './centerLeft2'
// import centerRight1 from './centerRight1'
// import centerRight2 from './centerRight2'
// import center from './center'
// import bottomLeft from './bottomLeft'
// import bottomRight from './bottomRight'
import trainingPlan from './trainingPlan';
import onDuty from './onDuty';
import Setting from './setting';
import announcement from './announcement';
import staff from './staff';
import cadre from './cadre';
import score from './score.vue';
import carEquip from './carEquip.vue';

export default {
  mixins: [drawMixin],
  data() {
    return {
      timing: null,
      loading: true,
      dateDay: null,
      dateYear: null,
      dateWeek: null,
      weekday: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
      decorationColor: ["#568aea", "#000000"],
    };
  },
  components: {
    // centerLeft1,
    centerLeft2,
    // centerRight1,
    // centerRight2,
    // center,
    // bottomLeft,
    onDuty,
    trainingPlan,
    Setting,
    announcement,
    staff,
    cadre,
    score,
    carEquip,
  },
  mounted() {
    this.timeFn();
    this.cancelLoading();
  },
  beforeDestroy() {
    clearInterval(this.timing);
  },
  methods: {
    showSetting() {
      this.$refs.setting.init();
    },
    timeFn() {
      this.timing = setInterval(() => {
        this.dateDay = formatTime(new Date(), "HH: mm: ss");
        this.dateYear = formatTime(new Date(), "yyyy-MM-dd");
        this.dateWeek = this.weekday[new Date().getDay()];
      }, 1000);
    },
    cancelLoading() {
      setTimeout(() => {
        this.loading = false;
      }, 500);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/index.scss";
</style>
