<template>
    <ul class="user_Overview flex">
        <li class="user_Overview-item">
            <div class="user_Overview_nums ">
              <img src="../assets/img/baiqingjun.jpg" />
            </div>
            <p>值班首长</p>
            <p>白庆军</p>
        </li>
        <li class="user_Overview-item">
            <div class="user_Overview_nums">
               <img src="../assets/img/lihonggang.jpg" />
            </div>
            <p>值班</p>
            <p>李洪刚</p>
        </li>
        <li class="user_Overview-item">
            <div class="user_Overview_nums">
              <img src="../assets/img/wangxiusong.jpg" />
            </div>
            <p>值班</p>
            <p>王秀松</p>
        </li>
        <li class="user_Overview-item">
            <div class="user_Overview_nums">
              <img src="../assets/img/panfeng.jpg" />
            </div>
            <p>值班</p>
            <p>潘峰</p>
        </li>
    </ul>
</template>

<script>

export default {
    data() {
       return {

       }
    },
    created() {
        
    },
    mounted() {
    },
    methods: {

    },
};
</script>
<style lang='scss' scoped>
.user_Overview {
  display: flex;
    li {
        flex: 1;

        p {
            text-align: center;
            height: 16px;
            font-size: 15px;
            font-weight: 900;
            &:first-of-type {
              margin-bottom: 8px;
            }
        }

        .user_Overview_nums {
            width: 100px;
            height: 120px;
            text-align: center;
            line-height: 100px;
            font-size: 22px;
            margin: 50px auto 30px;
            background-size: cover;
            background-position: center center;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            img {
              width: 100%;
              height: 100%;
            }
        }
    }
}
</style>