<template>
<el-drawer
  title="数据管理"
  :modal="false"
  size="60%"
  :visible.sync="settingShow">
  <span>我来啦!</span>
</el-drawer>
</template>

<script>
export default {
  data() {
    return {
      settingShow: false,
    };
  },
  methods: {
    init() {
      this.settingShow = true;
    },
  },
};
</script>

<style>
</style>