<template>
  <div id="center">
    <div class="staff-title">编制人员情况</div>
    <div class="up">
      <div
        class="bg-color-black item"
        v-for="item in staffItem"
        :key="item.title"
      >
        <p class="ml-3 colorBlue fw-b fs-xl">{{ item.title }}</p>
        <div>
          <dv-digital-flop
            class="dv-dig-flop ml-1 mt-2 pl-3"
            :config="item.number"
          />
        </div>
      </div>
    </div>
    <div class="equip-title">装备实力情况</div>
    <div class="up">
      <div
        class="bg-color-black item"
        v-for="item in equipItem"
        :key="item.title"
      >
        <p class="ml-3 colorBlue fw-b fs-xl">{{ item.title }}</p>
        <div>
          <dv-digital-flop
            class="dv-dig-flop ml-1 mt-2 pl-3"
            :config="item.number"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      staffItem: [
        {
          title: "编制总员额（人）",
          number: {
            number: [669],
            // toFixed: 1,
            textAlign: "left",
            content: "{nt}",
            style: {
              fontSize: 26,
            },
          },
        },
        {
          title: "编制在位数（人）",
          number: {
            number: [597],
            // toFixed: 1,
            textAlign: "left",
            content: "{nt}",
            style: {
              fontSize: 26,
            },
          },
        },
        {
          title: "编制在位率（%）",
          number: {
            number: [89],
            // toFixed: 1,
            textAlign: "left",
            content: "{nt}",
            style: {
              fontSize: 26,
            },
          },
        },
      ],
      equipItem: [
        {
          title: "车辆装备（台）",
          number: {
            number: [114],
            // toFixed: 1,
            textAlign: "left",
            content: "{nt}",
            style: {
              fontSize: 26,
            },
          },
        },
        {
          title: "防火灭火装备（件/台/个）",
          number: {
            number: [5257],
            // toFixed: 1,
            textAlign: "left",
            content: "{nt}",
            style: {
              fontSize: 26,
            },
          },
        },
        {
          title: "应急救援装备（台/个）",
          number: {
            number: [1848],
            // toFixed: 1,
            textAlign: "left",
            content: "{nt}",
            style: {
              fontSize: 26,
            },
          },
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
#center {
  display: flex;
  flex-direction: column;
  .staff-title,.equip-title {
      margin-top: 10px;
      font-size: 15px;
      font-weight: 900;
  }
  .equip-title {
      margin-top: 20px;
  }
  .up {
    &:nth-child(1) {
      margin-top: 10px;
    }
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
      border-radius: 6px;
      padding-top: 8px;
      margin-top: 8px;
      width: 32%;
      height: 70px;
      .dv-dig-flop {
        width: 150px;
        height: 30px;
      }
    }
  }
}
</style>
