<template>
  <div class="trainingPlan">
    <div class="btns">
      <span class="btn" @click="current = 0" :class="current == 0 ? 'on' : ''"
        >计划</span
      >
      <span class="btn" @click="current = 1" :class="current == 1 ? 'on' : ''"
        >周报</span
      >
    </div>
    <div class="left_boottom_wrap" v-if="current == 0">
      <vueSeamlessScroll :data="planList" :class-option="defaultOption">
        <ul class="left_boottom">
          <li class="left_boottom_item" v-for="(item, i) in planList" :key="i">
            <div class="orderNum">{{ i + 1 }}</div>
            <div class="inner_right">
              <div class="flex">
                <div class="info">
                  <el-tooltip class="item" effect="dark" :content="item.name" placement="top-start">
                  <a
                    class="contents wangguan"
                    :href="filePath(item.name)"
                    target="_blank"
                  >
                    {{ item.name }}</a
                  >
                  </el-tooltip>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </vueSeamlessScroll>
    </div>
    <div class="left_boottom_wrap" v-else>
      <vueSeamlessScroll :data="weeklyList" :class-option="defaultOption">
        <ul class="left_boottom">
          <li
            class="left_boottom_item"
            v-for="(item, i) in weeklyList"
            :key="i"
          >
            <div class="orderNum">{{ i + 1 }}</div>
            <div class="inner_right">
              <div class="flex">
                <div class="info">
                  <el-tooltip class="item" effect="dark" :content="item.name" placement="top-start">
                  <a
                    class="contents wangguan"
                    :href="filePath(item.name)"
                    target="_blank"
                  >
                    {{ item.name }}</a
                  >
                  </el-tooltip>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </vueSeamlessScroll>
    </div>
  </div>
</template>

<script>
import vueSeamlessScroll from "vue-seamless-scroll";
export default {
  components: { vueSeamlessScroll },
  data() {
    return {
      current: 0,
      planList: [
        {
          name: "延边支队敦化大队2月份分队训练计划",
        },
        {
          name: "延边支队和龙大队2月份分队训练计划",
        },
        {
          name: "延边支队珲春市大队2月份分队训练计划",
        },
        {
          name: "延边支队长白山池北区二大队2月份分队训练计划",
        },
        {
          name: "延边支队长白山池北区一大队2月份分队训练计划",
        },
      ],
      weeklyList: [
        {
          name: "作战训练科周工作汇报（3.3）",
        },
        {
          name: "作战训练科周工作汇报（3.10）",
        },
        {
          name: "作战训练科周工作汇报（3.17）",
        },
        {
          name: "作战训练科周工作汇报（3.24）",
        },
        {
          name: "作战训练科周工作汇报（3.31）",
        },
      ],
      defaultOption: {
        step: 0, // 数值越大速度滚动越快
        hoverStop: true, // 是否开启鼠标悬停stop
        openWatch: true, // 开启数据实时监控刷新dom
        direction: 1, // 0向下 1向上 2向左 3向右
        limitMoveNum: 5, // 开始无缝滚动的数据量 this.dataList.length
        singleHeight: 180, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
        singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
        waitTime: 1000, // 单步运动停止的时间(默认值1000ms)
      },
    };
  },
  created() {},

  mounted() {
    // this.scroll();
  },
  methods: {
    scroll() {
      let timer = setTimeout(() => {
        clearTimeout(timer);
        this.defaultOption.step = 0.4;
      }, this.defaultOption.waitTime);
    },
    filePath(name) {
      return `${window.location.origin}/${name}.pdf`;
    },
  },
};
</script>
<style lang='scss' scoped>
.trainingPlan {
  .btns {
    display: flex;
    justify-content: flex-end;
    .btn {
      display: inline-block;
      width: 50px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    .on {
      background: #1890ff;
    }
  }
}
.left_boottom_wrap {
  overflow: hidden;
  width: 100%;
  height: 230px;
}

.left_boottom {
  width: 100%;
  height: 100%;

  .left_boottom_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 14px;
    margin: 6px 0;
    .orderNum {
      margin: 0 20px 0 -20px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: #1890ff;
      text-align: center;
    }

    .info {
      margin-right: 10px;
      display: flex;
      align-items: center;
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .inner_right {
      position: relative;
      height: 100%;
      width: 400px;
      flex-shrink: 0;
      line-height: 1.5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .wangguan {
      color: #d3d6dd;
      font-weight: 900;
      font-size: 15px;
      width: 400px;
      flex-shrink: 0;
    }
  }
}
</style>